html * {
    color-profile: sRGB;
    rendering-intent: auto;
	font-family: $body;
}

body
 {
	a.fork-me {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		width: 100px;
		height: 100px;
		z-index: 1;
	}
 }

.wrap {
	margin: -8px; // Offset default margins.
	padding: 10px;
	height: 100vh;
	font-size: 1.1rem;
	text-align: center;

	header {
		margin: 40px auto;

		img {
			width: 200px;
			border-radius: 50%;
			box-shadow: 0px 1px 10px rgba( 0, 0, 0, 0.8 );
		}

		.header {
			&--name h1 {
				margin: 0;
			}

			&--pronouns {
				font-style: italic;
			}
		}
	}

	.links {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&--single {
			span {
				margin-right: 10px;
			}

			a,
			a:visited {
				text-decoration: none;
				border-bottom: 1px dotted;

				&:hover,
				&:active {
					border-bottom: 1px transparent;
				}
			}
		}
	}
}
